$gradient-football:linear-gradient(180deg, #8BE32E 0%, #0E6BCF 100%);
$body:#F2FDFF;

$keppel-turquoise:linear-gradient(0deg,#22C7B1 0%,rgba(42,245,218,1) 100%);

$yale-blue:linear-gradient(0deg,#083D77 0%,#0E6BCF 100%);
