.football {
  position:relative;
  top:6rem;
  justify-content:space-between;
  align-items:flex-start;
  display:flex;
  gap:1rem;
  flex-wrap:wrap;
  animation:just-appear .6s linear forwards;

  div, button {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
  }

  img, button, ul, button img, button p {
    grid-area:1/1;
  }

  button {
    background:$gradient-football;
    border-radius:100%;
    overflow:hidden;
    width:5rem;
    height:5rem;
    position:relative;
    @include shadow-max-white;
    @include grid;

    &:first-child {
      top:3rem;
      left:6rem;
    }

    &:nth-child(2) {
      top:1rem;
      left:17rem;
    }

    &:nth-child(3) {
      top:4rem;
      left:21rem;
    }

    &:nth-child(4) {
      top:0rem;
      left:5rem;
    }

    &:nth-child(5) {
      top:0rem;
      left:11rem;
    }

    &:nth-child(6) {
      top:2rem;
      left:7rem;
    }

    &:nth-child(7) {
      top:-1rem;
      left:17rem;
    }

    &:nth-child(8) {
      top:0rem;
      left:12rem;
    }
  }

  button img {
    width:100%;
    border-radius:10rem;
    height:100%;
    z-index:2;
    display:none;

    &.active {
      display:block;
    }
  }

  button p {
    font-size:3.5rem;
    font-weight:bold;
    color:#fff;
    position:relative;
    top:-.25rem;
  }

  article {
    width:calc(50% - 2rem);
    display:grid;
    gap:.5rem;

    img.jogador {
      width:5rem;
      height:5rem;
      border:3px solid #000;
      border-radius:100% !important;
    }

    li {
      display:flex;
      justify-content:flex-start;
      align-items:center;
      gap:1rem;
      background:#F2FFF8;
      border-radius:.5rem;
      padding:.5rem 0;
      @include shadow-max;

      &:nth-child(even) {
        background:#fff;
      }

      img:first-child {
        width:2.5rem;
        position:relative;
        left:3rem;
        top:1rem;
      }
    }
  }
}

@media (max-width:1000px) {
  .football {
    justify-content:center;

    article {
      width:calc(40% - 1rem);
    }
  }
}

@media (max-width:843px) {
  .football {
    justify-content:center;
    gap:3rem;

    article {
      width:100%;
    }
  }
}

@media (max-width:520px) {
  .football {
    top:5rem;

    .field, ul {
      width:100%;
    }

    .field {
      width:100%;
      object-fit: fill;
      height:600px;
    }

    ul {
      position:relative;
    }

    button p {
      top:-.5rem;
    }

    button {
      position:absolute;
      width:4.5rem;
      height:4.5rem;

      &:first-child {
        top:6rem;
        left:24%;
      }
  
      &:nth-child(2) {
        top:6rem;
        left:55%;
      }
  
      &:nth-child(3) {
        top:15rem;
        left:21%;
      }
  
      &:nth-child(4) {
        top:15rem;
        left:60%;
      }
  
      &:nth-child(5) {
        top:18rem;
        left:42%;
      }
  
      &:nth-child(6) {
        top:24rem;
        left:17%;
      }
  
      &:nth-child(7) {
        top:24rem;
        left:57%;
      }
  
      &:nth-child(8) {
        top:31rem;
        left:36%;
      }
    }
  }
}
