@keyframes from-top {
  from {
    transform:translateY(-6rem);
  }

  to {
    transform:translateY(0rem);
  }
}

@keyframes from-bottom {
  from {
    transform:translateY(3rem);
  }

  to {
    transform:translateY(0rem);
  }
}

@keyframes from-right {
  from {
    transform:translateX(3rem);
  }

  to {
    transform:translateX(0rem);
  }
}

@keyframes from-left {
  from {
    transform:translateX(-3rem);
  }

  to {
    transform:translateX(0rem);
  }
}

@keyframes just-appear {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes zoom {
  0% {
    transform:scale(1);
  }

  50% {
    transform:scale(1.5);
  }

  100% {
    transform:scale(1);
  }
}
