@import 'config';

body, .steps {
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:#fff;
    border-radius:0 0 .1rem .1rem;
  }

  &::-webkit-scrollbar-thumb {
    background:$yale-blue;
    background:$yale-blue;
    border:.375rem solid $yale-blue;
  }
}

.steps::-webkit-scrollbar {
  width:.43rem;
  height:.5rem;
}
