.steps, .menu-players {
  width:100vw;
  background:$gradient-football;
  position:relative;
  top:4.5rem;
  padding:1rem .5rem;
  color:#C0FDFB;
  animation:just-appear .6s linear forwards;

  @include flex;
}

.steps {
  gap:18rem;
  @include shadow-max;

  article {
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction:column;
  }

  h2 {
    font-weight:400;
    font-size:.9rem;
    width:13rem;
    text-align:right;

    &.first {
      width:10.25rem;
    }

    &.last {
      width:12rem;
    }
  }

  div {
    width:max-content;
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    gap:1rem;

    svg:last-child {
      transform:rotate(1deg);
    }

    &.player {
      align-items:center !important;
    }
  }
}

@media (max-width:700px) {
  .steps, .menu-players {
    top:3.8rem;
  }

  .steps {
    gap:.5rem;
    padding:.7rem .5rem .15rem 1rem;

    article, div {
      @include flex;
    }

    article {
      flex-direction: row;
      flex-wrap:wrap;
      gap:.5rem;
    }

    div {
      gap:0;
      flex-direction:column;
      
      svg:first-child {
        position:relative;
        top:15px;
      }

      svg:last-child {
        width:3rem;
      }
    }

    h2 {
      font-size:.8rem;
      width:7rem;
      text-align:left;
  
      &.first {
        width:7rem;
        text-align:justify;
      }
  
      &.last {
        width:7.5rem;
        position:relative;
        top:-.5rem;
      }
    }
  }
}

@media (max-width:553px) {
  .steps {
    justify-content:space-between;
    gap:2rem;
    overflow-x:auto;

    article {
      justify-content:flex-start;
      align-items:center;
      max-width:120px;
      gap:.5rem;
    }

    h2 {
      position:relative;
      top:-1rem;

      &.last {
        top:-1.8rem;
      }
    }
  }
}
