@import 'config';
@import 'mixins';
@import 'keyframes';

*, *:before, *:after {
  margin:0;
  border:0;
  padding:0;
  border-spacing:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  list-style:none;
  text-decoration:none;
}

html, body {
  overflow-x:hidden;
}

body {
  background:$body;
  overflow-y:auto !important;

  &, main {
    @include grid;
  }

  img {
    object-fit:cover;
  }

  .bg {
    @include fixed;
    width:100vw;
    height:100vh;
    filter:blur(1px);
  }

  button {
    cursor:pointer;
  }

  section {
    width:1150px;
  }

  main, section, div {
    overflow:hidden;
  }

  main {
    padding:0 0 9rem 0;
  }

  .parabens {
    background:$gradient-football;
    z-index:100;
    display:none;
    width:100vw;
    height:100vh;
    color:#fff;
    @include fixed;
    padding:2rem .5rem;
    overflow-y:auto;
    text-align:center;

    img {
      
      border-radius:2rem;
    }
    
    &.active {
      animation:just-appear .3s linear forwards;
      gap:1rem;
      @include grid;
    }

    a {
      background:$keppel-turquoise;
      border-radius: .2rem;
      color:#000;
      padding:.25rem 1rem;
    }
  }
}

@media (max-width:1200px) {
  body {
    .steps, .menu-players {
      padding:1rem 1rem;
      justify-content:space-between;
      gap:0;
    }
  }
}

@media (max-width:550px) {
  body {
    .steps {
      padding:0rem 1rem;
      gap:.75rem;
    }

    .parabens {
      img {
        width:95%;
        object-fit:fill;
        border-radius:2rem;
      }
    }
  }
}

@import 'header';
@import 'steps';

@import 'news';
@import 'scroll';

@import 'menu-players';
@import 'football';
