@import 'config';
@import 'mixins';
@import 'keyframes';

*, *:before, *:after {
  margin:0;
  border:0;
  padding:0;
  border-spacing:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  list-style:none;
  text-decoration:none;
}

html, body {
  overflow-x:hidden;
}

body {
  background:$body;
  overflow-y:auto !important;

  &, main {
    @include grid;
  }

  img {
    object-fit:cover;
  }

  .bg {
    @include fixed;
    width:100vw;
    height:100vh;
    filter:blur(1px);
  }

  button {
    cursor:pointer;
  }

  section {
    width:1150px;
  }

  main, section, div {
    overflow:hidden;
  }

  main {
    padding:0 0 9rem 0;
  }
}

@media (max-width:1200px) {
  body {
    .steps, .menu-players {
      padding:1rem 1rem;
      justify-content:space-between;
      gap:0;
    }
  }
}

@media (max-width:550px) {
  body {
    .steps {
      padding:0rem 1rem;
      gap:.75rem;
    }
  }
}

@import 'header';
@import 'steps';

@import 'news';
@import 'scroll';

@import 'menu-players';
@import 'football';
